---
import SpeakerCard from "../speaker-page/speaker-card.astro";
import ArrowRight from "../ui/icons/arrow-right";

import "@splidejs/splide/css";

enum PropertyType {
  WEB = "web",
  AI = "ai",
  MOBILE = "mobile",
  CLOUD = "cloud",
  FIREBASE = "firebase",
  GENERAL = "general",
  DESIGN = "design",
}

enum ThemeColor {
  BLUE = "blue",
  GREEN = "green",
  RED = "red",
  YELLOW = "yellow",
  RAINBOW = "rainbow",
}

const splideContent: {
  name: string;
  role: string;
  themeColor: (typeof ThemeColor)[keyof typeof ThemeColor];
  propertyType: (typeof PropertyType)[keyof typeof PropertyType];
  photoUrl?: string;
}[] = [
  {
    name: "Eko Kurniawan K",
    role: "Technical Architect of Blibli.com",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.CLOUD,
    photoUrl: "/images/speaker/photos/eko-kurniawan-k.webp",
  },
  {
    name: "Imre Nagi",
    role: "Google Developer Expert Cloud",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.CLOUD,
    photoUrl: "/images/speaker/photos/imre-nagi.webp",
  },
  {
    name: "Qassandra Chaidir",
    role: "Google Developer Expert Cloud",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.CLOUD,
    photoUrl: "/images/speaker/photos/qassandra-chaidir.webp",
  },
  {
    name: "Iqbal Alaydrus",
    role: "CTO of Bangunindo",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.CLOUD,
    photoUrl: "/images/speaker/photos/iqbal-alaydrus.webp",
  },
  {
    name: "Erico Darmawan H",
    role: "Lecturer, Maranatha Christian University",
    themeColor: ThemeColor.GREEN,
    propertyType: PropertyType.MOBILE,
    photoUrl: "/images/speaker/photos/erico-darmawan-h.webp",
  },
  {
    name: "Sidiq Permana",
    role: "Chief Innovation Officer of NBS.DEV & Google Developer Expert Android",
    themeColor: ThemeColor.GREEN,
    propertyType: PropertyType.MOBILE,
    photoUrl: "/images/speaker/photos/sidiq-permana.webp",
  },
  {
    name: "Ibnu Sina W",
    role: "Founder GITS.ID & Google Developer Expert Cloud & AI",
    themeColor: ThemeColor.RAINBOW,
    propertyType: PropertyType.AI,
    photoUrl: "/images/speaker/photos/ibnu-sina-w.webp",
  },
  {
    name: "Setia Budi",
    role: "Machine Learning Engineer of tiket.com",
    themeColor: ThemeColor.RAINBOW,
    propertyType: PropertyType.AI,
    photoUrl: "/images/speaker/photos/setia-budi.webp",
  },
  {
    name: "Esther Irawati",
    role: "Google Developer Expert AI & Cloud & Professor Institut STTS",
    themeColor: ThemeColor.RAINBOW,
    propertyType: PropertyType.AI,
    photoUrl: "/images/speaker/photos/esther-irawati.webp",
  },
  {
    name: "Sandhika Galih",
    role: "Founder of WPUCourse.id & Google Developer Expert Web",
    themeColor: ThemeColor.YELLOW,
    propertyType: PropertyType.WEB,
    photoUrl: "/images/speaker/photos/sandhika-galih.webp",
  },
  {
    name: "Avip Syaifullah",
    role: "Chief Executive Officerof WPU Course",
    themeColor: ThemeColor.YELLOW,
    propertyType: PropertyType.WEB,
    photoUrl: "/images/speaker/photos/avip-syaifullah.webp",
  },
  {
    name: "Jessica Cecilia B",
    role: "Software Engineer of OmniHR",
    themeColor: ThemeColor.YELLOW,
    propertyType: PropertyType.WEB,
    photoUrl: "/images/speaker/photos/jessica-cecilia-b.webp",
  },
  {
    name: "R Surahutomo A. P",
    role: "Google Developer Expert Firebase",
    themeColor: ThemeColor.RED,
    propertyType: PropertyType.FIREBASE,
    photoUrl: "/images/speaker/photos/r-surahutomo-a-p.webp",
  },
  {
    name: "Fini Charisa",
    role: "Web3 Design Lead of Bittime",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.DESIGN,
    photoUrl: "/images/speaker/photos/fini-charisa.webp",
  },
  {
    name: "David Alfa S",
    role: "Director of Webekspor.com",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "/images/speaker/photos/david-alfa-s.webp",
  },
  {
    name: "Maya Hansmar",
    role: "Chief Happiness Officer (Rikas) & Finance & Ops (SLYYK Australia)",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "/images/speaker/photos/maya-hansmar.webp",
  },
  {
    name: "Risa Kusumaningrum",
    role: "Chief Representative Officer of Scalemind Media",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "/images/speaker/photos/risa-kusumaningrum.webp",
  },
  {
    name: "Oscar Karnalim, S.T., M.T., Ph.D., SMIEEE, CSCU",
    role: "Dekan Fakultas Teknologi dan Rekayasa Cerdas",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "/images/speaker/photos/oscar-karnalim.webp",
  },
  {
    name: "Hadian Rahmat",
    role: "Organizer GDG Bandung",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "/images/speaker/photos/hadian-rahmat.webp",
  },
  {
    name: "Danang Juffry",
    role: "Community Manager Indonesia& Brunei",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "/images/speaker/photos/danang-juffry.webp",
  },
  {
    name: "Torch",
    role: "Sponsor",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "",
  },
  {
    name: "MSI",
    role: "Sponsor",
    themeColor: ThemeColor.BLUE,
    propertyType: PropertyType.GENERAL,
    photoUrl: "",
  },
];
---

<section class="flex flex-col items-center py-20 lg:py-40 gap-7 lg:gap-[88px]">
  <div class="px-8 lg:px-16 xl:px-[180px] w-full">
    <div class="container mx-auto flex flex-row items-center justify-between">
      <h2 class="font-medium text-[40px] lg:text-7xl">SPEAKER</h2>
      <div id="speakers-arrow" class="flex flex-row gap-2 lg:gap-4">
        <button
          id="prev-button"
          class="w-[34px] h-[34px] lg:w-[68px] lg:h-[68px] bg-dark-gray rounded-full flex items-center justify-center cursor-pointer disabled:cursor-auto"
          disabled
          ><ArrowRight class="rotate-180 w-3 lg:w-6" fill="gray" /></button
        >
        <button
          id="next-button"
          class="w-[34px] h-[34px] lg:w-[68px] lg:h-[68px] bg-dark-gray rounded-full flex items-center justify-center cursor-pointer disabled:cursor-auto"
          ><ArrowRight class="w-3 lg:w-6" fill="white" /></button
        >
      </div>
    </div>
  </div>
  <div class="px-8 lg:px-0 w-full">
    <div
      class="container mx-auto lg:max-w-full min-[153.75rem]:container relative"
    >
      <div id="speakers-slide" class="splide">
        <div class="splide__track">
          <ul class="splide__list">
            {
              splideContent.map((speaker) => (
                <li class="splide__slide">
                  <SpeakerCard
                    name={speaker.name}
                    role={speaker.role}
                    themeColor={speaker.themeColor}
                    propertyType={speaker.propertyType}
                    photoUrl={speaker.photoUrl}
                  />
                </li>
              ))
            }
          </ul>
        </div>
        <div
          class="absolute top-0 right-0 h-full hidden lg:block 3xl:hidden lg:w-24 xl:w-80 z-10"
          style="background: linear-gradient(90deg, rgba(31, 33, 35, 0) 0%, #1F2123 107.19%);
"
        >
        </div>
        <div
          class="absolute top-0 left-0 h-full hidden lg:block 3xl:hidden lg:w-24 xl:w-80 z-10 transform rotate-180"
          style="background: linear-gradient(90deg, rgba(31, 33, 35, 0) 0%, #1F2123 107.19%);
"
        >
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  import Splide from "@splidejs/splide";

  document.addEventListener("DOMContentLoaded", function () {
    const splide = new Splide("#speakers-slide", {
      perPage: 4,
      perMove: 1,
      breakpoints: {
        640: {
          perPage: 2,
          padding: 0,
          gap: "21px",
        },
        1024: {
          perPage: 2,
          padding: 0,
        },
        1536: {
          perPage: 3,
          padding: "80px",
        },
        2460: {
          perPage: 3,
          padding: "180px",
        },
      },
      rewind: false,
      gap: "44px",
      trimSpace: false,
      padding: 0,
      arrows: false,
      pagination: false,
    });
    splide.mount();

    splide.on("move", (newIndex) => {
      const prevButton = document.querySelector(
        "#speakers-arrow button:first-child"
      ) as HTMLButtonElement;
      const nextButton = document.querySelector(
        "#speakers-arrow button:last-child"
      ) as HTMLButtonElement;
      const prevArrow = prevButton?.querySelector("svg path");
      const nextArrow = nextButton?.querySelector("svg path");

      if (prevButton && prevArrow) {
        if (newIndex === 0) {
          prevButton.setAttribute("disabled", "true");
          prevArrow.setAttribute("fill", "gray");
        } else {
          prevButton.removeAttribute("disabled");
          prevArrow.setAttribute("fill", "white");
        }
      }

      if (nextButton && nextArrow) {
        if (newIndex >= splide.length - (splide?.options?.perPage || 0)) {
          nextButton.setAttribute("disabled", "true");
          nextArrow.setAttribute("fill", "gray");
        } else {
          nextButton.removeAttribute("disabled");
          nextArrow.setAttribute("fill", "white");
        }
      }
    });

    const prevButton = document.querySelector(
      "#speakers-arrow button:first-child"
    );
    const nextButton = document.querySelector(
      "#speakers-arrow button:last-child"
    );
    prevButton?.addEventListener("click", () => {
      splide.go("<");
    });
    nextButton?.addEventListener("click", () => {
      splide.go(">");
    });
  });
</script>
