---
export interface Props {
  name: string;
  role: string;
  themeColor: "blue" | "green" | "red" | "yellow" | "rainbow";
  propertyType:
    | "ai"
    | "cloud"
    | "web"
    | "mobile"
    | "firebase"
    | "general"
    | "design";
  photoUrl?: string;
  customClass?: string;
}

const {
  name,
  role,
  themeColor,
  propertyType,
  photoUrl = "",
  customClass = "",
} = Astro.props;

const color: Record<
  typeof themeColor,
  { backgroundColor: string; borderColor: string }
> = {
  blue: {
    backgroundColor: "bg-blue",
    borderColor: "border-dark-blue",
  },
  green: {
    backgroundColor: "bg-green",
    borderColor: "border-dark-green",
  },
  red: {
    backgroundColor: "bg-red",
    borderColor: "border-dark-red",
  },
  yellow: {
    backgroundColor: "bg-yellow",
    borderColor: "border-dark-yellow",
  },
  rainbow: {
    backgroundColor: "bg-rainbow",
    borderColor: "border-transparent",
  },
};
---

<article class={`aspect-square w-full relative overflow-hidden ${customClass}`}>
  <img
    src={`/images/speaker/card/${themeColor}-card.svg`}
    class="w-full aspect-square top-0 left-0 absolute"
    alt="background card"
  />
  {
    Boolean(photoUrl) && (
      <img
        src={photoUrl}
        alt={name}
        class="w-[97%] aspect-square object-contain bottom-1 left-1 absolute"
      />
    )
  }
  <img
    src={`/images/speaker/gdg/${themeColor}-gdg.svg`}
    alt={`${themeColor} GDG`}
    class="absolute top-[1px] lg:top-1.5 left-0.5 lg:left-2 w-1/4"
  />
  <img
    src={`/images/speaker/property/${propertyType}.svg`}
    alt={propertyType}
    class="absolute bottom-0.5 lg:bottom-1 right-1 lg:right-2 w-1/6"
  />
  <div
    class={`absolute bottom-[3%] left-[3%] w-[73%] lg:w-[72%] text-center p-[3%] ${color[themeColor].backgroundColor} ${color[themeColor].borderColor} bg-opacity-80 rounded-lg lg:rounded-2xl`}
  >
    <h3 class="text-[10px] sm:text-sm md:text-base lg:text-lg xl:text-2xl font-bold text-white text-start">{name}</h3>
    <p class="text-[8px] sm:text-xs lg:text-sm xl:text-base text-white italic mt-0.5 md:mt-1 lg:mt-1.5 text-start">{role}</p>
  </div>
</article>
